<!-- <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
        <mat-panel-title class="group-title">
            evaldocente
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
        <a mat-list-item class="sidenav-item"disableRipple>
            <div class="item-selector"></div>
            <div fxFlex="100%"> demo </div>
            <mat-icon></mat-icon>
        </a>
    </div>
</mat-expansion-panel> -->

<a mat-list-item class="sidenav-item" disableRipple>
    <div class="item-selector"></div>
    <div fxFlex="100%"> Evaldocente </div>
    <mat-icon>table_chart</mat-icon>
</a>